<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<!--Options: CSV, TXT, Excel -->

		<add key="FileType" value="TXT" />
		<!--<add key="FileType" value="CSV" />-->
		<!--<add key="FileType" value="Excel" />-->
		
	</appSettings>

	<connectionStrings>
		<add name="Exporter" connectionString="Server=203.154.184.86;Database=JAI_DAILY_EXPORT;User ID=sa;Password=123456!Ab;TrustServerCertificate=True;" providerName="Microsoft.Data.SqlClient" />
		<add name="repossess_jai" connectionString="Server=203.154.184.86;Database=repossess_jai;User ID=sa;Password=123456!Ab;TrustServerCertificate=True;" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>